.card {
    width: 100% !important;
    box-shadow: none !important;
    background-color: #f1f1f1;
    margin-bottom: 20px;
    border-radius: 8px !important;
    outline: none !important;
}

.accordion {
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
}

.card-header {
    border-radius: 8px !important;
    background-color: #f1f1f1 !important;
    outline: none !important;
}