    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#" style="font-size: 25px; font-weight: bold;">DivTelecom</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2 nav-inp" type="search" placeholder="Search..." aria-label="Search">
                </form>
              <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="#"><img src="https://muradaghazade.github.io/phones/img/person.svg" alt=""></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#"><img src="https://muradaghazade.github.io/phones/img/heart.svg" alt=""></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" style="display: flex;" href="#"><img src="https://muradaghazade.github.io/phones/img/cart.svg" alt=""> <span class="zero">0</span></a>
                </li>
              </ul>
              
            </div>
            
          </nav>
          <ul class="nav mt-4">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">New</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Apple</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Samsung</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Xiaomi</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Huawei</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">All Brands</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Discounts</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Accessories</a>
            </li>
          </ul>
          
        </div>
        <hr style="background-color: #38ff87; margin-bottom: 0;">
