{% extends 'base.html' %}
    


       
                 
        <div class="about-header">
                <div class="container">
                <div class="path">
                    <a class="path-link" href="index.html">Ana səhifə</a>
                    <img width="24" src="https://muradaghazade.github.io/phones/img/chevron-right.svg" alt="">
                    <a class="path-link" href="about-us.html">Haqqımızda</a>
                    
                   
                </div>

                <h1 style="font-size: 60px; margin-top: 40px; color: white;">Haqqımızda</h1>
            </div>
        </div>

        <div class="container">
            <div class="about">
                <h1 style="margin-bottom: 30px; font-size: 24px;">DivTelecom</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores nisi omnis, officia non nesciunt perspiciatis est eum illum! Quasi exercitationem officiis sapiente consequatur! Perferendis officiis eius magnam? Placeat, distinctio laudantium. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quidem dolores, unde hic ea harum, adipisci porro earum accusamus eum illum natus consectetur, perferendis tempore ducimus dolor illo reiciendis. Atque, ut. Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate dicta vitae pariatur dolorum, aut accusamus autem nihil hic! Voluptas nemo eligendi nam ducimus voluptatibus eius soluta incidunt ab esse qui?</p>
            </div>

            <h1 style="text-align: center; margin-top: 88px;">Dəyərlərimiz</h1>

            <div class="ideas">
                <div class="idea-row">
                    <div class="idea">
                        <div class="idea-icon">
                            <img style="margin-top: -2px;" src="	https://muradaghazade.github.io/phones/img/m%C9%99mnuniyy%C9%99t.svg" alt="">
                        </div>
                        <div class="idea-content">
                            <span>Müştəri məmnuniyyəti</span>
                            <p class="about-text" style="font-size: 14px; width: 350px; margin-top: 10px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem neque rem dicta fugit officia ad voluptatem quod?</p>
                        </div>
                    </div>
                    <div class="idea idea2">
                        <div class="idea-icon">
                            <img style="margin-top: -2px;" src="	https://muradaghazade.github.io/phones/img/hörmət.svg" alt="">
                        </div>
                        <div class="idea-content">
                            <span>Keyfiyyət</span>
                            <p class="about-text" style="font-size: 14px; width: 350px; margin-top: 10px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem neque rem dicta fugit officia ad voluptatem quod?</p>
                        </div>
                    </div>
                </div>
                <div class="idea-row">
                    <div class="idea">
                        <div class="idea-icon">
                            <img style="margin-top: -2px;" src="	https://muradaghazade.github.io/phones/img/m%C9%99mnuniyy%C9%99t2.svg" alt="">
                        </div>
                        <div class="idea-content">
                            <span>Kreativ yanaşma</span>
                            <p class="about-text" style="font-size: 14px; width: 350px; margin-top: 10px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem neque rem dicta fugit officia ad voluptatem quod?</p>
                        </div>
                    </div>
                    <div class="idea idea2">
                        <div class="idea-icon">
                            <img style="margin-top: -2px;" src="https://muradaghazade.github.io/phones/img/n%C9%99tic%C9%99%20y%C3%B6n%C3%BCml%C3%BC.svg" alt="">
                        </div>
                        <div class="idea-content">
                            <span>Gənclər</span>
                            <p class="about-text" style="font-size: 14px; width: 350px; margin-top: 10px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem neque rem dicta fugit officia ad voluptatem quod?</p>
                        </div>
                    </div>
                </div>
                <div class="idea-row">
                    <div class="idea">
                        <div class="idea-icon">
                            <img style="margin-top: -2px;" src="	https://muradaghazade.github.io/phones/img/m%C9%99mnuniyy%C9%99t3.svg" alt="">
                        </div>
                        <div class="idea-content">
                            <span>Ən yaxşı qiymətlər</span>
                            <p class="about-text" style="font-size: 14px; width: 350px; margin-top: 10px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem neque rem dicta fugit officia ad voluptatem quod?</p>
                        </div>
                    </div>
                    <div class="idea idea2">
                        <div class="idea-icon">
                            <img style="margin-top: -2px;" src="	https://muradaghazade.github.io/phones/img/n%C9%99tic%C9%99%20y%C3%B6n%C3%BCml%C3%BC2.svg" alt="">
                        </div>
                        <div class="idea-content">
                            <span>Çoxlu hədiyyələr</span>
                            <p class="about-text" style="font-size: 14px; width: 350px; margin-top: 10px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem neque rem dicta fugit officia ad voluptatem quod?</p>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>                                                   
          
       {% endblock %}   
          
          